<ul class="ul">
  <li class="li"><a ui-sref="categories">Home</a></li>
  <li class="li"><a ui-sref="users">Users</a></li>
</ul>
<h1>{{ $ctrl.heading }}</h1>
<div class="app-post" ng-repeat=" category in $ctrl.categories ">
	<a ui-sref="category({id: category._id}) "><h2>{{category.Categoryname}}</h2></a>
	<button  class="button"  ui-sref="addCompany({ cid: category._id })" >Create New Company</button>
	<button  class="button"  ui-sref="updateCategory({ cid: category._id })" >Update Category</button>
	<a  class="button" ui-sref="deleteCategory({cid: category._id})">Delete Category</a>
</div>

<a ui-sref="addCategory" class="button"   >Create New Category</a>

